html{
    box-sizing: border-box;
    
}

*, 
*::before,
*::after{
    box-sizing: inherit;
    
}
body{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

h1{
    color: rgb(201, 23, 4);
    text-align: center;
}

img{
    margin: 0 auto;
    display: block;
}

.product{
    height: auto;
    width: 800px;
}

li a{
    color: black;
    font-size: 18px;
}

ol strong{
    color: crimson;
}

h2{
    margin: 25px;
}

p{
    margin: 0 30px;
    padding: 10px;
}

ul li{
    margin: 0 20px;
}

ol li{
    margin: 5px; 
}

.footer{
    margin-bottom: 20px;
}