body{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

h1{
    color: rgb(201, 23, 4);
    text-align: center;
}

li a{
    color: black;
    font-size: 18px;
}

ol strong{
    color: crimson;
}